#container {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.col{
    display: flex;
}

.pixel{
    border: 1px solid #515151;
    background: white;
    flex: 1;
}

.active{
    background: black;
}